header {
     padding-top: 68px  ;
 }

@media (min-width: 992px) {
    header {
        padding-top: 68px ;
    }
}

.imagen_perfil{
    max-width: 35px;
}

.icono_buscador{
    cursor: pointer;
}
.icono_buscador:hover{
    color: rgba(255,255,255,.75) !important;
}
#buscador{
    display: none;
}
.caja_buscador{
    color: #FFFFFF !important;

}
